<nav>
  <ul id="slide-out" class="side-nav fixed">
    <div class="nav-img-box">
      <img class="circle responsive-img" src="/assets/mlassakoski.png">
    </div>
    <li><a [routerLink]="['/new-product']">Add Product</a></li>
    <li><a [routerLink]="['/list-product']">Products</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
    <ul class="right">
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>
