nav {
  background: #26a69a;
  .logo {
    position: relative;
    height: 9rem;
    min-height: 9rem;
    padding: 3px;
    margin-bottom: 1rem;
    text-align: center;
    overflow: hidden;
    img{
      cursor: pointer;
      width: 8rem;
    }
  }
}

.collapsible-header {
  padding: 0 32px !important;
}

.logout {
  color: red;
}

.dropdown-content {
  background-color: #FFFFFF;
  display: none;
  min-width: 10rem;
  max-height: auto;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {

}
