<div class="container">
  <h2 class="center">Manage People</h2>
  <div class="row">
    <form [formGroup]="form" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" [(ngModel)]="user.name" formControlName="name" class="validate">
          <label [class.active]="user.name" for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" [(ngModel)]="user.lastName" formControlName="lastName" class="validate">
          <label [class.active]="user.lastName" for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" [(ngModel)]="user.email" formControlName="email" class="validate">
          <label [class.active]="user.email" for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="birthDate" type="text" class="datepicker" [(ngModel)]="user.birthDate" formControlName="birthDate">
          <label [class.active]="user.birthDate" for="birthDate">Birth Data</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="password" type="password" [(ngModel)]="user.password" formControlName="password" class="validate">
          <label [class.active]="user.password" for="password">Password</label>
        </div>
        <div class="input-field col s4">
          <input id="confPassword" type="password" class="validate">
          <label [class.active]="user.confPassword" for="password">Confirm Password</label>
        </div>
        <div class="input-field col s4">
          <select [(ngModel)]="user.profile" formControlName="profile">
                <option *ngFor="let p of profiles" [value]="p.value">{{p.label}}</option>
          </select>
          <label>Perfil</label>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Active</label>
          <div class="switch">
            <label>
                Off
                <input type="checkbox" [(ngModel)]="user.status" formControlName="status">
                <span class="lever"></span>
                On
              </label>
          </div>
        </div>
      </div>

      <div>
        <button *ngIf="id" class="btn waves-effect waves-light right" (click)="update()" name="submit">Save
            <i class="material-icons right">send</i>
        </button>

        <button *ngIf="!id" class="btn waves-effect waves-light right" (click)="add()" name="submit">Save
          <i class="material-icons right">send</i>
       </button>

        <button [routerLink]="['/people/list']" class="btn waves-effect waves-light right" name="cancel">Back
            <i class="material-icons left">cancel</i>
        </button>
      </div>
    </form>
  </div>
</div>

