.table-list {
  width: 90%;
  margin: 0 auto;
}

.list-btn {
  width: 1rem;
  text-align: center;
}

table {
  tbody {
    td a {
      color: #26a69a;
    }
  }
}
.pagination {
  .active {
    background: #26a69a;
  }
}
