<div class="table-list">
  <h1 class="center">Product List</h1>

  <table class="striped">
    <thead>
      <tr class="row">
        <th class="hide-on-small-only">Code</th>
        <th>Name</th>
        <th class="hide-on-small-only">Description</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Edit</th>
        <th>remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="hide-on-small-only">{{product?.code}}</td>
        <td>{{product?.name}}</td>
        <td class="hide-on-small-only">{{product?.description}}</td>
        <td>{{product?.stock}}</td>
        <td>{{product?.price}}</td>
        <td>{{getTotalPrice(product)}}</td>
        <td class="list-btn"><a [routerLink]="['/dashboard/new-product', product?.id]"><i class="material-icons">edit</i></a></td>
        <td class="list-btn"><a (click)="remove(product?.id)"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>
  <br />
  <a [routerLink]="['/dashboard/new-product']" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>

</div>
