<div class="table-list">
  <h3 class="center">Inventory</h3>

  <table class="striped">
    <thead>
      <tr class="row">
        <th class="hide-on-small-only">Code</th>
        <th>Name</th>
        <th class="hide-on-small-only">Description</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Edit</th>
        <th>remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td class="hide-on-small-only">{{product?.code}}</td>
        <td>{{product?.name}}</td>
        <td class="hide-on-small-only">{{product?.description}}</td>
        <td>{{product?.stock}}</td>
        <td>{{product?.price}}</td>
        <td>{{getTotalPrice(product)}}</td>
        <td class="list-btn"><a [routerLink]="['/product', product?.id]"><i class="material-icons">edit</i></a></td>
        <td class="list-btn"><a (click)="remove(product?.id)"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>
  <div>
    <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect "><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
  <a [routerLink]="['/product/new']" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">add</i></a>
</div>
