.login-box {
  width: 25rem;
  margin: 0 auto;
  box-sizing: border-box;
  width: 260px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  h2 {
    height: 100px;
    width: 100%;
    font-size: 4em;
    background: #18aa8d;
    color: white;
    line-height: 150%;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
}

form h1 {
  box-sizing: border-box;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .login-box {
    width: 40rem;
  }
}
