<div class="container">
  <div class="table-list">
    <h3 class="center">People</h3>

    <table class="striped">
      <thead>
        <tr class="row">
          <th>Name</th>
          <th>Last Name</th>
          <th>Status</th>
          <th class="center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td width="30%">{{user?.name}}</td>
          <td width="40%">{{user?.lastName}}</td>
          <td width="20%">{{user?.status}}</td>
          <td width="10%" class="list-btn center">
            <a [routerLink]="['/people', user?.id]"><i class="material-icons">edit</i></a>
            <a [routerLink]="['/people', user?.id]"><i class="material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect "><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
    <a [routerLink]="['/people/new']" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">add</i></a>
  </div>
</div>
