<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="avatar-box">
        <li>
          <img src="/assets/mlassakoski.png" alt="" class="circle">
          <div class="middle">
            <div class="upload-btn"><label for="file"><i class="material-icons medium">cloud_upload</i></label></div>
            <input type="file" id="file" />
          </div>
        </li>
      </ul>
    </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div>
        <button [routerLink]="['/dashboard/list-product']" class="btn waves-effect waves-light right" type="submit" name="submit">Submit
          <i class="material-icons right">send</i>
        </button>

        <button [routerLink]="['/dashboard/list-product']" class="btn waves-effect waves-light right" name="cancel">Cancel
            <i class="material-icons left">cancel</i>
          </button>
      </div>
    </form>
  </div>
</div>
