<div class="container">
  <div class="row">

    <div class="col s12 l3 l2">
      <div class="card horizontal">
        <div class="card-icon valign-wrapper">
          <i class="material-icons large">local_offer</i>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Product.</p>
          </div>
          <div class="card-action">
            <a href="#">Product</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 l3 l2">
      <div class="card horizontal">
        <div class="card-icon valign-wrapper">
          <i class="material-icons large">storage</i>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Inventory</p>
          </div>
          <div class="card-action">
            <a href="#">Inventory</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 l3 l2">
      <div class="card horizontal">
        <div class="card-icon valign-wrapper">
          <i class="material-icons large">shopping_cart</i>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Sell</p>
          </div>
          <div class="card-action">
            <a href="#">Sell</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 l3 l2">
      <div class="card horizontal">
        <div class="card-icon valign-wrapper">
          <i class="material-icons large">people</i>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>People</p>
          </div>
          <div class="card-action">
            <a href="#">Manage</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
